
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="container text-center bg-light">
      <br>
    <form action="{% url 'home' %}">
      <input type="submit" value="Home" class="btn btn-primary">
    </form>
    <hr>
    <h1>This website is brought to you by Gitcotech.</h1>
    <p>We are a Team of IT Experts providing.</p>
    <br>
    <hr>
    </div>
  </body>
</html>
